[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/littlevgl/lvgl.git
	ignore = dirty
[submodule "lib/detex"]
	path = lib/detex
	url = https://github.com/hglm/detex
	ignore = dirty
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
	ignore = dirty
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
	ignore = dirty
[submodule "lib/mupdf"]
	path = lib/mupdf
	url = https://github.com/ArtifexSoftware/mupdf
	ignore = dirty
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl
	ignore = dirty
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls
	ignore = dirty
[submodule "lib/libtiff"]
	path = lib/libtiff
	url = https://github.com/vadz/libtiff
	ignore = dirty
[submodule "lib/proj"]
	path = lib/proj
	url = https://github.com/OSGeo/proj.4
	ignore = dirty
[submodule "lib/XSDK"]
	path = lib/XSDK
	url = https://github.com/fpw/XSDK
	ignore = dirty
[submodule "lib/libgeotiff"]
	path = lib/libgeotiff
    url = https://github.com/OSGeo/libgeotiff
    ignore = dirty
[submodule "lib/QuickJS"]
	path = lib/QuickJS
    url = https://github.com/ldarren/QuickJS/
    ignore = dirty
